/* Course: SENG 513 */
/* Date: SEPT 26, 2023 */
/* Assignment 1 */
/* Name: Kevin Tran */
/* UCID: 30146900 */

/* 
Colours to use:

navy:               #25274D;
dusty-navy:         #464866;
light-grey:         #AAABB8;
light-blue:         #2E9CCA;
dusty-blue:         #29648A;
grey:               #7E8082;
white:              #FFF;
white-off-white:    #FEF9F7;
black-off-black:    #3C3C3C;
black:              #1F1F1F;
*/

/* @import url("https://fonts.google.com/specimen/Titillium+Web"); */
body {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
}

/* Header Styles */

.header {
    display: flex;
    color: #fff;
    background-color: #24264c;
    height: 3.5rem;
    padding-left: 4.5rem;
    width: 100vw;
    max-width: 100vw;ll
}

.header,
.left-side {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

#header-main-text {
    font-size: 28px;
    font-weight: 300;
}

#header-sub-text {
    font-size: 16px;
}

button {
    font-size: 12px;
    font-weight: 600;
    background-color: #2e9cca;
    border: none;
    color: #fff;
}

.header button {
    /* position: absolute;
    right: 0; */
    background-color: #2e9cca;
    border: none;
    color: #fff;
    height: 3.5rem;
    width: 6rem;
    font-size: 12px;
    font-weight: 600;
}

/* Use a media query to "shift" the position of the SHOP button */

/* Intro Styles */

.intro {
    position: relative;
    text-align: center;
    background-image: url(./assets/top_image_large.png);
    background-size: cover;
    width: 100vw;
    height: 35rem;
    resize: both;
}

/* use vh/vw for height and width of div */
@media (max-width: 640px) {
    .intro {
        background-image: url(./assets/top_image_small.png);
    }
}

@media (max-width: 1279px) {
    .intro {
        background-image: url(./assets/top_image_medium.png);
    }
}

.intro .picture-textbox {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 3.5rem;
    left: 4.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 27vw;
    text-align: left;
}

#intro-main {
    font-weight: 500;
    /* Consider using vw */
    font-size: 3rem;
}

#intro-sub {
    font-weight: 400;
    font-size: 1.4rem;
}

/* Textbox (below picture) Styles */

.textbox {
    display: flex;
    align-items: center;
    padding: 2rem 4.5rem 2rem 4.5rem;
}

.internal-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.topbox,
.bottombox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textbox .sub-header {
    font-size: 28px;
    font-weight: 600;
}

.textbox .normal-text {
    font-size: 20px;
}

/* Video Placeholder Styles */

.video-container {
    background-color: #24264c;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 5 / 3;
    height: 70%;
    /* object-fit: fill; */
}

#video-internal {
    margin: 2.5em 2em 0.5em 2em;
    width: 90%;
    height: 90%;
    padding: 1rem;
}

.video-container img {
    object-fit: contain;
    resize: both;
    width: 100%;
    height: 100%;
}

/* Product Styles */

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    gap: 2rem;
}

.products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Reason Section Styles */

/* About Section Styles */

/* Shipping Section Styles */

/* Contact Section Styles */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #29648a;
    padding: 5rem 16rem 5rem 16rem;
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 27rem;
    text-align: center;
    gap: 1.8rem;
}

#contact-container .sub-header {
    font-size: 26px;
    font-weight: 600;
}

#contact-container .normal-text {
    font-weight: 400;
    font-size: 20px;
}

.contact button {
    padding: 1.25em 2.4em 1.25em 2.4em;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Styles */
.footer {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #24264c;
    color: #fff;
    font-size: 1.2rem;
    border-top: 1px solid #aaabb8;
}
