/* Course: SENG 513 */
/* Date: SEPT 26, 2023 */
/* Assignment 1 */
/* Name: Kevin Tran */
/* UCID: 30146900 */

/* 
Colours to use:

navy:               #25274D;
dusty-navy:         #464866;
light-grey:         #AAABB8;
light-blue:         #2E9CCA;
dusty-blue:         #29648A;
grey:               #7E8082;
white:              #FFF;
white-off-white:    #FEF9F7;
black-off-black:    #3C3C3C;
black:              #1F1F1F;
*/

/* @import url("https://fonts.google.com/specimen/Titillium+Web"); */
body {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
}

/* Header Styles */

.header {
    display: flex;
    color: #fff;
    background-color: #24264c;
    height: 3.5rem;
    padding-left: 4.5rem;
    justify-content: space-between;
    align-items: center;
}

.header,
.left-side {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

#header-main-text {
    font-size: 28px;
    font-weight: 300;
}

#header-sub-text {
    font-size: 16px;
}

button {
    font-size: 12px;
    font-weight: 600;
    background-color: #2e9cca;
    border: none;
    color: #fff;
}

.header button {
    /* position: absolute;
    right: 0; */
    background-color: #2e9cca;
    border: none;
    color: #fff;
    height: 3.5rem;
    width: 6rem;
    font-size: 12px;
    font-weight: 600;
}

/* Use a media query to "shift" the position of the SHOP button */

/* Intro Styles */

.intro {
    position: relative;
    text-align: center;
    background-image: url(./assets/top_image_large.png);
    background-size: cover;
    width: 100vw;
    height: 25em;
}

/* use vh/vw for height and width of div */
@media (max-width: 640px) {
    .intro {
        background-image: url(./assets/top_image_medium.png);
    }
}

@media (max-width: 1280px) {
    .intro {
        background-image: url(./assets/top_image_medium.png);
    }
}

.intro .picture-textbox {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 48px;
    left: 56px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 35%;
    text-align: left;
}

#intro-main {
    font-weight: 500;
    /* Consider using vw */
    font-size: 36px;
}

#intro-sub {
    font-weight: 400;
}

/* Textbox (below picture) Styles */

.textbox {
    display: flex;
    align-items: center;
    padding: 2rem 4.5rem 2rem 4.5rem;
}

.internal-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    /* padding: 2rem 4.5rem 2rem 4.5rem; */
}

.topbox,
.bottombox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textbox .sub-header {
    font-size: 24px;
    font-weight: 600;
}

.textbox .normal-text {
    font-size: 16px;
}

/* Video Placeholder Styles */

.video-container {
    background-color: #24264c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

/* Product Styles */

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    gap: 2rem;
}

.products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Reason Section Styles */

/* About Section Styles */

/* Shipping Section Styles */

/* Contact Section Styles */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #29648a;
    padding: 5rem 16rem 5rem 16rem;
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    gap: 2rem;
}

#contact-container .sub-header {
    font-size: 20px;
    font-weight: 500;
}

.contact button {
    padding: 1em 2.5em 1em 2.5em;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Styles */
.footer {
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    background-color: #24264c;
    color: #fff;
    font-size: 13px;
    border-top: 1px solid #aaabb8;
}
